.column {
  float: left;
  width: 400px;
  text-align: justify;
  padding: 10px;
}

img {
  width: 300px;
}

.clear {
  clear: left;
}
h1 {
  text-align: center;
}

.column h2 {
  font-weight: bolder;
  text-align: center;
}

.column p {
  background-color: lightgrey;
  border: 2px solid darkgrey;
  padding:10px

}
